footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

body{
    margin-bottom: 100px;
}

#chatMessages{
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chatInput{
    margin-top: 10px;
}